/* Need to complete the UI design,
Adding correct colors for the website,
Find icons for the weather states.
Obtain images/videos for the weather conditions.
Make aside the proper size.
Add scrolling got the hourly forecast */

:root {
    font-size: 1rem;
    --main-color: gray;
    --main-font: 'Poppins', sans-serif;
    --thin-font: 100;
    --light-font: 200;
    --italic: 300;
}

html {
    box-sizing: border-box;
    width: 100%;
}

p{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* This is the code for the layout of the site. */

body {
    margin: 0;
    width: 100dvw;
    padding: 1rem;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "header header aside"
    "main main aside"
    "main main aside"
    "footer footer aside"
    ;
    background-color: var(--main-color);
    font-family: var(--main-font);
}

header {
    grid-area: header;
    height: 4rem;
    padding-left: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    backdrop-filter: blur(5px);
}

main {
    grid-area: main;
    height: 65dvh;
    width: 77dvw;
}

aside {
    grid-area: aside;
    backdrop-filter: blur(5px);
    max-width: 21dvw;
    min-width: 5rem;
    background-color: rgba(0,0,0,0.03);
}

footer {
    grid-area: footer;
    height: 25dvh;
    background-color: rgba(0,0,0,0.03);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* button element */
button {
    background-color: inherit;
    border: none;
}

/* This is for the header */
.title {
    font-size: 1.7rem;
    font-weight: var(--light-font);
}

/* This is for the main */

.location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 1.5rem;
    font-size: 1.1rem;
    font-weight: var(--light-font);
}

.main-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 85%;
    font-size: 2rem;
}

#current-weather {
    font-size: 15rem;
}

.degree {
    font-size: 8rem;
    position: relative;
    bottom: 4rem;
    font-weight: var(--light-font);
}

#day-of-week {
    font-size: 1.75rem;
    font-weight: 600;
}

#date {
    font-size: 3rem;
    font-weight: var(--thin-font);
}

#weather-conds {
    font-size: 2.5rem;
    font-weight: var(--light-font);
}

#hourly-title {
    margin: 1.5rem;
    font-size: 1.5rem;
    font-weight: var(--thin-font);
}

#hourly-weather {
    height: 60dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    padding-left: 0;
    font-size: 1.1rem;
}

#hourly-weather::-webkit-scrollbar {
    display: none;
}

#hourly-weather li{
    margin-bottom: 3px;
}

#hourly-weather li:last-child {
    margin-bottom: 0;
}

.card-link {
    width: 5rem;
    margin: 8px;
    font-size: .9rem;
    font-family: var(--main-font);
}

#details-forecast {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    width: 20rem;
}

.copyright {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}