$mainFont: "Poppins", sans-serif;
$textColour: hsl(120, 3.64%, 21.57%);
$background: hsla(0, 0%, 0%, 0.25);
$thinFont: 200;
$lightFont: 300;

// HTML reset
html {
  box-sizing: border-box;
  height: 100dvh;

  p {
    margin: 0;
    padding: 0;
    color: $textColour;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    padding-inline-start: 0;
  }
}

// Desktop
// Stylesheet
body {
  font-family: $mainFont;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  "main main main aside"
  "footer footer footer footer";
  box-sizing: border-box;
  font-weight: $thinFont;
  background-color: hsl(45, 29%, 97%);
  margin: 0;
  height: 100dvh;
}



// Main display for the details
main {
  height: 100%;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15%;

  .locationAndDate {
    display: flex;
    justify-content: flex-start;
    gap: 45%;
    width: 100%;
    position: relative;
    top: 1rem;
    left: 0;
    padding-left: 10px;
    font-size: 1.5rem;

    #location-name {
      text-align: start;
    }

    #date {
      text-align: center;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;

    .hourlyWeather {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        font-size: 2em;
        font-weight: $lightFont;
        line-height: 0;
      }

      #hourly-weather {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .borderedCard {
          height: 8em;
          width: 8rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          gap: 0.25rem;
        
          .hourlyTime {
            font-size: 1.25rem;
          }
        
          .hourlyTemp {
            font-size: 3rem;
            font-weight: $lightFont;
          }
        
          .hourly-conditions {
            opacity: 75%;
          }
        }
      }
    }
    
  }

  .main-data {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .weather {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      #current-weather {
        font-size: 17.5em;

        .degree {
          // font-size: 0.5em;
      }

      #weather-conds {
        font-size: 4em;
        opacity: 75%;
      }
    }
  }

    .conditions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;

      .flexRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
        font-size: 1.25rem;

        p {
          font-size: 1.5rem;
          font-weight: $lightFont;
        }
      }

      img {
        height: 2em;
        width: 2em;
      }

    }

    #current-weather {
      font-size: 8em;
      font-weight: $lightFont;
    }

    #weather-conds {
      font-size: 2em;
      font-weight: $lightFont;
    }
  }
}

aside {
  grid-area: aside;
  background-color: hsl(36, 12%, 92%);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: .5rem;

  input {
    width: 80%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid hsl(36, 12%, 80%);
    background-color: hsl(36, 12%, 92%);

    &:focus {
      outline: none;
    }
  }

  #time {
    font-size: 1.5rem;
    font-weight: $lightFont;
  }

  #message {
    font-size: 2rem;
    font-weight: $lightFont;
  }

  #details {
    font-size: 1.25rem;

    .card {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      align-items: center;
      justify-content: center;
    }    
  }

  #feelsLike {
    font-size: 1.25rem;
    font-weight: $lightFont;
  }

  .forecast {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;

    h2 {
      font-size: 2rem;
      font-weight: $lightFont;
      line-height: 1rem;
    }

    .forecastWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }

    .forecastedWeather {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-wrap: none;
      gap: .5rem;

      :nth-child(1) {
        font-size: 1.25rem;
      }

      :nth-child(2) {
        font-size: 3rem;
      }

      :last-child {
        opacity: 75%;
      }
    }
  }

  
}

// Footer
.copyright {
  grid-area: footer;
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  right: 40%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  #github-mark {
    height: 1.5rem;
    color: $textColour;
  }
}
